---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// Custom Style
$primary-color: #EF6C00

// Import
@import "variables", "mixins", "base", "layout", "syntax-highlighting", "materialize/materialize"

// Custom import
@import "sidenav", "footer", "blog", "post"

html, body
  font-family: 'Roboto','Helvetica',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  height: 100%

// Sticky footer
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -83px
  .container
    @media #{$small-and-down}
      width: 100%

.push
  height: 83px

footer
  height: 50px

footer
  @media #{$medium-and-down}
    height: auto

// Overwrite
a
  color: inherit

// Parallax
.parallax-container
  height: 300px
  margin-bottom: -128px

// Main Card
.main-card
  &.mdl-card
    width: auto
    height: 400px
    background: url('../images/pumpkin_poster.jpg') center / cover
    @media #{$small-and-down}
      width: 90%
      margin: 0 auto 35px auto
  > .mdl-card__actions
    background: rgba(0, 0, 0, 0.2)
  .main-card-image__filename
    color: #fff
    font-size: 14px
    font-weight: 500

// Misc
.blog-title
  margin-bottom: 0
