<header>
  <div class="">
    <nav>
        <div class="nav-wrapper">
          <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {% for page in site.pages %}
              {% if page.title %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="side-nav" id="mobile-demo">
            <div class="side-nav-header">
              <img src="/images/pumpkin_photo.png" class="circle">
              <div class="side-nav-title">Pumpkinz</div>
            </div>
            <ul>
              {% for page in site.pages %}
                {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
    </nav>
  </div>
</header>

<main>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/parallax1.jpg"></div>
  </div>
