.post-card
  &.mdl-card
    width: auto
    @media #{$small-and-down}
      box-shadow: none

  > .mdl-card__supporting-text
    padding: 32px

  > .mdl-card__title
    color: #fff
    height: 200px

  >.mdl-card__supporting-text > .post-title
    font-weight: 500
    margin-top: 0
  .post-author
    margin-bottom: 32px
    .author-avatar, .author-info
      float: left
    .author-avatar
      margin-right: 15px
    .author-info > a
      font-size: 13px
